/* Basic CSS styling */
* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  width: 100%;
}
p {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 0;
}
ul, ol, li {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 19px;
}
iframe {
  width: 70%;
  height: 70%;
}
/* CSS for the Portfolio Section */
.portfolio {
  /* padding: 2.5% 5% 2.5%; */
  background: #E7E6E5;
}
#flipbook {
  width: 1152px;
  height: 752px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#flipbook .turn-page{
	background-color:#ccc;
  background-size: 100% 100%;
}
.open-button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}
.open-button:hover {
  background: rgba(255, 255, 255, 0.7);
}
